{% extends "base.html" %}

{% block title %}Create Color - Astrum Market{% endblock %}

{% block content %}
<div class="content-container animate-slide-up">
    <h1 class="page-title">Create New Color</h1>
    <form id="color-form" class="form" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_name" class="form-label">Color Name:</label>
            <input type="text" id="id_name" name="name" required class="form-input">
        </div>

        <div class="form-group">
            <label for="id_hex_code" class="form-label">Color Hex Code:</label>
            <input type="color" id="id_hex_code" name="hex_code" required class="form-input color-picker">
        </div>

        <button type="submit" class="submit-button">Create Color</button>
    </form>
</div>
{% endblock %}
